* {
  font-family: 'Ubuntu','Noto Sans JP', sans-serif;
}
p {
  line-height: 1.7;
  // letter-spacing: .1em;
}
body {
  padding: 0 1rem;
  &:after {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    content: "";
    width: 100vw;
    height: 100vh;
    border: solid #000 1rem;
    @supports (-webkit-touch-callout: none) {
      height: -webkit-fill-available;
    }
  }
}
footer {
  padding: 4em 0;
}

#toc {
  .active {
    color: red;
  }
}
#loadbar {
  height: 7px;
  width: 0;
  background-color: aqua;
  box-shadow: 0 0 11px 0 aqua;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999999;
  transition: .5s;
  &.start {
    animation: loadbar 6s forwards;
  }
  &.done {
    width: 100vw;
    height: 0;
  }
}
@keyframes loadbar {
  0% {
    width: 0;
  }
  1% {
    width: 10vw;
  }
  5% {
    width: 10vw;
  }
  40% {
    width: 55vw;
  }
  100% {
    width: 60vw;
  }
}

h2 {
  font-weight: 700;
  font-size: 3.5rem;
  display: inline-block;
  margin: 1.3em -.6em .7em -.1em;
  padding: 0 .6em 0 .1em;
  background:linear-gradient(transparent 60%, #ec9400 60%);
}
h3 {
  margin-top: 2em;
  margin-bottom: .5em;
}


 /* Prism のコードブロックに影響を与えず <code> にスタイルを追加 */
 code:not([class]) {
  font-family: monospace;
  font-size: 1rem;
  background-color: #eee;
  display: inline-block;
  padding: .2em .4em;
}
.page {
  padding: 2em 1em;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.post-teaser {
  margin-bottom: 2em;
}
.pager {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flew-wrap: nowrap;
}
.pager-item {
  margin: 0 1em;
}