@use "sass:math";
.flex {
    @media (min-width: 600px) {
        display: flex;
        justify-content: space-around;
        h3,h4,p {
            text-align: center;
        }
        h3,h4 {
            font-size: 1.4em;
            small {
                font-size: .7em;
                margin-right: .2em;
            }
        }
    }
    @media (max-width: 600px) {
        br {
            display: none;
        }
    }
    img {
        margin: 3rem auto 1rem auto;
        width: 60%;
        height: 10rem;
        object-fit: contain;
    }
}

.mvvFlex {
    @media (min-width: 600px) {
        margin-top: 3rem;
        li {
            width: 33%;
        }
        h4 {
            padding: .2em 1em;
            margin-bottom: .5em;
        }
    }
}
.aboutus {
    article {
        padding: 2rem 0;
    }
    p {
        margin-top: 1.3em;
        @media (min-width: 600px) {
            max-width: 40em;
        }
        @media (max-width: 40em) {
            br {
                display: none;
            }
        }
    }
}
.sticky {
    font-size: .8em;
    height: 0;
    margin: 0 calc(50% - 50vw);
    margin-top: -14rem;
    margin-bottom: 14rem;
    @media (max-width: 600px) {
        margin-top: -32rem;
        margin-bottom: 32rem;
    }
    padding: 0 3rem;
    position: sticky;
    top: 3rem;
    right: 3rem;
    text-align: right;
    pointer-events: none;
    z-index: -9;
    li {
        a {
            pointer-events: auto;
            &::after {
                content: "";
                display: inline-block;
                $size: .4em;
                width: $size;
                height: $size;
                $marginX: math.div( 1em - $size * 2, 2 );
                margin: $marginX 0 $marginX .5em;
                background: #000;
                border-radius: 100%;
            }
        }
    }
    .active {
        color: #000;
    }
}
.header {
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    padding: 0 calc(50vw - 50%);
    overflow: hidden;
    @media (max-width: 600px) {
        h1,p {
            text-align: center;
        }
    }
    section {
        height: calc(var(--vh_bar,1vh) * 100);
        padding: 7rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }
    .headerFooter {
        @media (max-width: 600px) {
            div {
                margin: auto;
            }
        }
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex: initial;
        a {
            display: block;
        }
        .boshu {
            font-size: 1.5rem;
            font-weight: bold;
            padding: .6em 1.5em;
            border-radius: 99em;
            background: #ec9400;
            @media (max-width: 600px) {
                font-size: 2rem;
            }
        }
        .youtuber {
            color: #ec9400;
            font-size: .7rem;
            padding: .5em;
            @media (max-width: 600px) {
                font-size: 1.3rem;
                text-align: center;
            }
        }
    }

    h1 {
        font-size: 7rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.5rem;
        letter-spacing: .15em;
    }
    img {
        position: absolute;
        width: 65rem;
        max-width: 130%;
        right: -15rem;
        bottom: 27vh;
        z-index: -1;
        @media (max-width: 600px) {
            top: 4rem;
            right: -15rem;
            // max-width: 10%;
        }
    }
}
.main {
    section {
        margin-bottom: 7rem;
    }
}
.intro {
    padding-bottom: 15rem;
    margin-top: 5rem;
    p {
        font-size: 1remm;
        margin-top: 1rem;
    }
    h2 {
        line-height: 4rem;
        margin-bottom: 2rem;
        span {
            letter-spacing: .2em;
        }
    }
}

.about {
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5rem 0 15rem 0;
        p {
            flex: 1;
            span {
                margin: .5em 0;
                display: inline-block;
            }
            em {
                font-style: normal;
                font-size: 1.5em;
            }
        }
        img {
            width: 50%;
            @media (max-width: 600px) {
                display: none;
            }
        }
    }
}
.whyyoutube {
    @media (min-width: 600px) {
        li {
            width: 33%;
        }
    }
}
.point {
    counter-reset: number;
    h3 {
        margin-bottom: .5rem;
    }
    @media (min-width: 600px) {
        ol {
            padding: 0 2rem;
            max-width: 45rem;
            margin: auto;
        }
    }
    li {
        align-items: center;
        margin-top: 3rem;
        h3 {
            margin-top: .5rem;
            &:before {
                font-style: italic;
                font-size: 5rem;
                font-weight: 700;
                counter-increment: number;
                content: counter(number);
                margin-right: 2rem;
            }
        }
        @media (min-width: 600px) {
            display: flex;
            padding-right: 3em;
            h3 {
                font-size: 1.5rem;
                &:before {
                    font-size: 8rem;
                }
            }
            &:nth-child(even){
                margin-right: -4rem;
                margin-left: 4rem;
            }
        }
    }
}
.process {
    @media (min-width: 600px) {
        li {
            width: 25%;
        }
    }
}
.plan {
    h3 {
        font-size: 4rem;
        margin-top: 0;
        small {
            margin-right: .3em;
        }
    }
    h4 {
        font-size: 1.5rem;
    }
}

.qanda {
    ul {
        margin-top: 2rem;
    }
    li {
        margin-bottom: 1rem;
    }
    summary {
        background: #000;
        color: #fff;
        width: fit-content;
        padding: .3em .5em;
        line-height: 1em;
    }
    .answer {
        margin: 1rem;
        margin-bottom: 3rem;
        table {
            margin: 1rem 0;
            th,td {
                padding: .3rem 1rem;
            }
            th {
                border-bottom: solid #000 1px;
            }
            .small {
                font-size: .5em;
                margin-top: -.5em;
            }
            .active {
                background: #000;
                color: #fff;
            }
        }
    }
}